$purple: #633cff;
$purple-hover: #beadff;
$purple-light: #efebff;
$dark-grey: #333333;
$grey: #737373;
$light-grey: #d9d9d9;
$borders: #fafafa;
$white: #ffffff;
$red: #ff3939;

// Some general Styles
$border-radius: 1rem;
